.post-form{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 5rem;
}

.post-form h1 {
  font-size: 2rem;
  text-align: center;
}

.bootsrap_form {
  margin-top: 2rem;
}