.home {
  padding-top: 15vh;
}

.under-search {
  padding-top: 3vh;
  display: inline-block;
}

.post__row {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  font-size: 1.5rem;
  height: 30vh;
}

.post-resume,
.post-vacancy {
  background: rgb(255, 219, 176);
  padding: 1vh 4vh;
  border: 1px solid #222;
  border-radius: 2vh;
  font-size: 2vh;
}

.content {
  margin-left: 45vh;
  margin-top: 6vh;
  margin-right: 5%;
  font-size: 2vh;
}
