.header {
  background: #fff;
  width: 100%;
  display: flex ;
  position: relative;
  margin: auto;
  padding: 1rem 2rem;
}

.header__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
  font-family: 'Rubik', sans-serif;
}


.header__nav {
  display: flex;
  gap: 4rem;
  margin: auto;
}

.header__nav li button {
  width: 5rem;
  height: 2rem;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 2px;
  transition: 0.5s ease;
}

.header__nav li button:hover {
  -moz-box-shadow: 0 0 2px #6e38f7;
  -webkit-box-shadow: 0 0 2px #6e38f7;
  box-shadow: 2px 2px 2px 2px #6e38f7;
}

.signin-signup {
  cursor: pointer;
}

.signin_btn, .signup_btn {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #6E38F7;
  transition: 0.4s ease;
}

.signin_btn:hover {
  transform: scale(1.05);
}

.signup_btn {
  border: 1px solid #6E38F7;
  border-radius: 4px;
  
}

.signup_btn:hover {
  color: #fff;
  background-color: #6E38F7;
  border: 1px solid #fff;
  border-radius: 4px;
}
