.search {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/* content part */

main .container {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 15vh;
}

.search__form {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
}

.search__what,
.search__where {
  width: 30%;
  padding: 2vh 5vh;
  font-size: 1.5rem;
  border: 1px solid #222;
  border-radius: 2vh;
  font-size: 2vh;
}

.search__btn {
  background: rgba(221, 159, 82, 0.708);
  width: 10%;
  border: 1px solid #222;
  border-radius: 2vh;
  font-size: 3vh;
}

.under-search {
  padding-top: 3vh;
  display: inline-block;
}

.post__row {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: left;
  font-size: 1.5rem;
  height: 30vh;
}

.post-resume,
.post-vacancy {
  background: rgb(255, 219, 176);
  padding: 1vh 4vh;
  border: 1px solid #222;
  border-radius: 2vh;
  font-size: 2vh;
}

.content {
  margin-left: 45vh;
  margin-top: 6vh;
  margin-right: 5%;
  font-size: 2vh;
}
