@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

html {
  font-size: 16px;
}

body {
  background: #fff;
  color: #222;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

html,
body,
#root {
  height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}